In [30]:
import pandas as pd
import yfinance as yf
import matplotlib as plt

In [7]:
stocklist = ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'GOOGL', 'TSLA', 'NVDA', 'PEP', 'COST', 'META', 'AVGO', 'CSCO', 'TMUS', 'TXN',  'CMCSA', 'ADBE',  'AMGN', 'HON', 'QCOM', 'NFLX', 'AMD', 'INTC', 'SBUX',  'INTU',  'ADP', 'GILD', 'ISRG', 'PYPL', 'MDLZ', 'AMAT', 'ADI',  'VRTX', 'REGN', 'BKNG', 'MRNA', 'CSX', 'FISV', 'CHTR', 'MU', 'LRCX', 'ATVI', 'KDP', 'ORLY', 'MNST', 'KLAC', 'MAR', 'PANW', 'SNPS', 'ASML', 'AEP', 'KHC', 'MELI', 'CTAS', 'CDNS', 'LULU', 'DXCM', 'PAYX', 'NXPI', 'BIIB', 'ENPH',  'ADSK', 'MCHP',  'FTNT', 'ROST', 'EXC', 'AZN',  'ABNB', 'XEL', 'MRVL', 'PCAR', 'EA', 'WBA', 'PDD', 'ILMN', 'IDXX', 'DLTR', 'ODFL',  'CTSH', 'CEG', 'CPRT', 'CRWD', 'FAST', 'WDAY', 'VRSK', 'JD', 'SIRI', 'EBAY', 'SGEN', 'DDOG', 'VRSN', 'ANSS', 'ZS', 'TEAM', 'ZM', 'BIDU', 'LCID', 'ALGN', 'SWKS', 'MTCH', 'SPLK', 'NTES', 'DOCU']

data_orig = yf.download(stocklist)

[*********************100%***********************]  102 of 102 completed

In [9]:
data_orig.columns

             Adj Close                                                  \
                  AAPL        ABNB        ADBE         ADI         ADP
Date
1962-01-02         NaN         NaN         NaN         NaN         NaN
1962-01-03         NaN         NaN         NaN         NaN         NaN
1962-01-04         NaN         NaN         NaN         NaN         NaN
1962-01-05         NaN         NaN         NaN         NaN         NaN
1962-01-08         NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
2022-11-28  144.220001   95.300003  328.970001  163.283096  258.329987
2022-11-29  141.169998   95.379997  326.779999  163.163635  257.059998
2022-11-30  148.029999  102.139999  344.929993  171.148102  264.140015
2022-12-01  148.309998  101.269997  344.109985  170.719986  267.950012
2022-12-02  147.809998  101.000000  341.529999  168.630005  269.899994

                                                                      ...  \
                  ADSK        AEP        ALGN        AMAT        AMD  ...
Date                                                                  ...
1962-01-02         NaN   1.010088         NaN         NaN        NaN  ...
1962-01-03         NaN   1.008248         NaN         NaN        NaN  ...
1962-01-04         NaN   0.993528         NaN         NaN        NaN  ...
1962-01-05         NaN   0.971451         NaN         NaN        NaN  ...
1962-01-08         NaN   0.964091         NaN         NaN        NaN  ...
...                ...        ...         ...         ...        ...  ...
2022-11-28  195.350006  95.220001  189.779999  103.470001  73.190002  ...
2022-11-29  195.179993  94.650002  191.830002  103.250000  73.389999  ...
2022-11-30  201.949997  96.800003  196.660004  109.599998  77.629997  ...
2022-12-01  206.929993  96.480003  201.770004  107.010002  77.480003  ...
2022-12-02  201.110001  95.120003  198.410004  106.709999  74.980003  ...

                 Volume                                              \
                   TSLA        TXN       VRSK       VRSN       VRTX
Date
1962-01-02          NaN        NaN        NaN        NaN        NaN
1962-01-03          NaN        NaN        NaN        NaN        NaN
1962-01-04          NaN        NaN        NaN        NaN        NaN
1962-01-05          NaN        NaN        NaN        NaN        NaN
1962-01-08          NaN        NaN        NaN        NaN        NaN
...                 ...        ...        ...        ...        ...
2022-11-28   92905200.0  5358800.0   828500.0   488200.0  1113500.0
2022-11-29   83357100.0  3134000.0   791000.0   381100.0  1380400.0
2022-11-30  109186400.0  9779600.0  2044500.0  2729300.0  6633400.0
2022-12-01   80046200.0  5479900.0   875500.0   780700.0  1549100.0
2022-12-02   73533400.0  3822900.0   848500.0   593400.0  1094800.0


                  WBA       WDAY        XEL         ZM         ZS
Date
1962-01-02        NaN        NaN        NaN        NaN        NaN
1962-01-03        NaN        NaN        NaN        NaN        NaN
1962-01-04        NaN        NaN        NaN        NaN        NaN
1962-01-05        NaN        NaN        NaN        NaN        NaN
1962-01-08        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...
2022-11-28  4687900.0  3135100.0  2197600.0  6245400.0  1515000.0
2022-11-29  3213600.0  3350800.0  1873400.0  4879300.0  1906300.0
2022-11-30  7590700.0  8712600.0  4911400.0  6213800.0  5204100.0
2022-12-01  4511400.0  3329400.0  2520300.0  4777700.0  7077700.0
2022-12-02  4857300.0  2552900.0  2811700.0  3295000.0  9659100.0

[15337 rows x 612 columns]

In [13]:
data_orig.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'ABNB'),
            ('Adj Close', 'ADBE'),
            ('Adj Close',  'ADI'),
            ('Adj Close',  'ADP'),
            ('Adj Close', 'ADSK'),
            ('Adj Close',  'AEP'),
            ('Adj Close', 'ALGN'),
            ('Adj Close', 'AMAT'),
            ('Adj Close',  'AMD'),
            ...
            (   'Volume', 'TSLA'),
            (   'Volume',  'TXN'),
            (   'Volume', 'VRSK'),
            (   'Volume', 'VRSN'),
            (   'Volume', 'VRTX'),
            (   'Volume',  'WBA'),
            (   'Volume', 'WDAY'),
            (   'Volume',  'XEL'),
            (   'Volume',   'ZM'),
            (   'Volume',   'ZS')],
           length=612)

# Close

In [76]:
df_close = data_orig['Close']
df_close = df_close[(5*-365):]
df_close.reset_index().set_index('Date')
df_close

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-04,27.317499,NaN,76.889999,53.959999,76.150002,45.369999,52.540001,54.279999,15.390000,1.820000,...,16.128668,46.529999,72.809998,67.129997,126.989998,87.430000,70.089996,32.630001,NaN,NaN
2015-09-08,28.077499,NaN,79.779999,57.770000,78.199997,46.810001,54.080002,55.400002,15.730000,1.880000,...,16.544666,48.689999,74.779999,68.230003,133.110001,90.089996,71.769997,33.080002,NaN,NaN
2015-09-09,27.537500,NaN,78.519997,56.270000,77.510002,46.160000,53.369999,54.970001,15.460000,1.850000,...,16.594000,47.610001,73.470001,68.099998,129.949997,88.940002,70.269997,32.560001,NaN,NaN
2015-09-10,28.142500,NaN,78.699997,56.009998,77.919998,46.230000,53.389999,55.189999,15.560000,1.840000,...,16.565332,47.410000,73.760002,68.790001,132.000000,89.379997,70.160004,32.709999,NaN,NaN
2015-09-11,28.552500,NaN,79.190002,56.349998,78.309998,46.299999,53.779999,55.549999,15.500000,2.010000,...,16.682667,47.570000,73.870003,69.160004,134.059998,90.400002,71.360001,33.160000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-28,144.220001,95.300003,328.970001,164.009995,258.329987,195.350006,95.220001,189.779999,103.470001,73.190002,...,182.919998,173.000000,177.539993,197.750000,315.299988,40.810001,145.250000,69.389999,71.589996,136.720001
2022-11-29,141.169998,95.379997,326.779999,163.889999,257.059998,195.179993,94.650002,191.830002,103.250000,73.389999,...,180.830002,172.979996,176.929993,194.960007,316.329987,41.080002,143.300003,68.849998,70.570000,134.850006
2022-11-30,148.029999,102.139999,344.929993,171.910004,264.140015,201.949997,96.800003,196.660004,109.599998,77.629997,...,194.699997,180.460007,183.710007,199.809998,316.399994,41.500000,167.899994,70.220001,75.430000,133.449997
2022-12-01,148.309998,101.269997,344.109985,171.479996,267.950012,206.929993,96.480003,201.770004,107.010002,77.480003,...,194.699997,177.500000,186.139999,204.570007,320.760010,41.310001,169.479996,70.190002,77.430000,144.500000
2022-12-02,147.809998,101.000000,341.529999,168.630005,269.899994,201.110001,95.120003,198.410004,106.709999,74.980003,...,194.860001,177.660004,185.440002,202.100006,321.369995,41.480000,170.990005,69.139999,74.309998,128.990005

In [77]:
df_close[df_close.isna().any(axis=1)]

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-04,27.317499,NaN,76.889999,53.959999,76.150002,45.369999,52.540001,54.279999,15.390000,1.820000,...,16.128668,46.529999,72.809998,67.129997,126.989998,87.430000,70.089996,32.630001,NaN,NaN
2015-09-08,28.077499,NaN,79.779999,57.770000,78.199997,46.810001,54.080002,55.400002,15.730000,1.880000,...,16.544666,48.689999,74.779999,68.230003,133.110001,90.089996,71.769997,33.080002,NaN,NaN
2015-09-09,27.537500,NaN,78.519997,56.270000,77.510002,46.160000,53.369999,54.970001,15.460000,1.850000,...,16.594000,47.610001,73.470001,68.099998,129.949997,88.940002,70.269997,32.560001,NaN,NaN
2015-09-10,28.142500,NaN,78.699997,56.009998,77.919998,46.230000,53.389999,55.189999,15.560000,1.840000,...,16.565332,47.410000,73.760002,68.790001,132.000000,89.379997,70.160004,32.709999,NaN,NaN
2015-09-11,28.552500,NaN,79.190002,56.349998,78.309998,46.299999,53.779999,55.549999,15.500000,2.010000,...,16.682667,47.570000,73.870003,69.160004,134.059998,90.400002,71.360001,33.160000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-11,175.080002,168.610001,529.890015,173.630005,235.279999,270.630005,89.769997,559.640015,152.449997,137.309998,...,354.799988,184.639999,208.679993,236.240005,226.149994,54.330002,255.720001,68.599998,175.970001,277.529999
2022-01-12,175.529999,169.539993,532.369995,173.750000,234.630005,269.600006,90.290001,539.469971,159.550003,137.470001,...,368.739990,186.029999,207.389999,238.250000,226.139999,53.910000,257.959991,68.589996,170.649994,273.980011
2022-01-13,172.190002,166.000000,516.900024,169.779999,231.929993,260.170013,90.860001,524.780029,157.179993,132.740005,...,343.853333,184.149994,203.110001,229.860001,226.580002,54.189999,249.410004,69.019997,162.100006,250.470001
2022-01-14,173.070007,163.990005,520.599976,172.000000,228.750000,259.100006,90.980003,524.630005,167.000000,136.880005,...,349.869995,187.009995,198.149994,226.479996,234.059998,54.299999,254.309998,68.970001,159.720001,254.740005
2022-01-18,169.800003,154.690002,513.340027,166.500000,226.440002,252.029999,90.320000,489.559998,152.360001,131.929993,...,343.503326,182.279999,198.449997,220.100006,231.070007,53.520000,245.860001,68.389999,157.699997,259.200012

In [78]:
print('Highest Close Values for last trading day')
df_close.iloc[[-1]].max().sort_values(ascending=False)

Highest Close Values for last trading day

BKNG     2085.439941
MELI      945.070007
ORLY      858.409973
REGN      766.390015
ASML      605.710022
            ...
CMCSA      35.860001
CSX        32.049999
INTC       29.410000
LCID       10.150000
SIRI        6.240000
Length: 102, dtype: float64

# Volume

In [81]:
df_vol = data_orig['Volume']
df_vol = df_vol[(5*-365):]
df_vol.reset_index().set_index('Date')
df_vol

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-04,199985200.0,NaN,2326500.0,1693700.0,1858800.0,2552700.0,2595300,510000.0,15285300.0,6725300.0,...,55338000.0,6603400.0,484900.0,640500.0,1240700.0,5468900.0,1075400.0,3989300.0,NaN,NaN
2015-09-08,219374400.0,NaN,2670600.0,4119600.0,1764400.0,3951100.0,3149600,474800.0,14935300.0,6009500.0,...,47073000.0,7993000.0,539600.0,822600.0,1346900.0,3969000.0,1485600.0,3181900.0,NaN,NaN
2015-09-09,340043200.0,NaN,2460300.0,2814600.0,3022700.0,9429500.0,2602800,332500.0,15443800.0,12612300.0,...,50862000.0,8250100.0,672600.0,825100.0,1104600.0,3722700.0,1097600.0,4514100.0,NaN,NaN
2015-09-10,251571200.0,NaN,3541000.0,3366000.0,2214600.0,6143500.0,2172500,369700.0,15424000.0,4290400.0,...,40635000.0,8543100.0,469800.0,584000.0,981700.0,3991600.0,1348800.0,4989100.0,NaN,NaN
2015-09-11,199662000.0,NaN,2913700.0,1762800.0,1508900.0,1933900.0,1804500,631300.0,10501800.0,31010300.0,...,35262000.0,6567300.0,470100.0,476600.0,1056200.0,3286200.0,1068000.0,2791900.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-28,69246000.0,5133900.0,2314800.0,3910900.0,1465700.0,1624500.0,4529100,772700.0,6382700.0,45383800.0,...,92905200.0,5358800.0,828500.0,488200.0,1113500.0,4687900.0,3135100.0,2197600.0,6245400.0,1515000.0
2022-11-29,83763800.0,3694000.0,2392600.0,2685800.0,1131700.0,1473800.0,2044500,583600.0,3450400.0,51846400.0,...,83357100.0,3134000.0,791000.0,381100.0,1380400.0,3213600.0,3350800.0,1873400.0,4879300.0,1906300.0
2022-11-30,111224400.0,8387500.0,4977800.0,5396300.0,4155500.0,4608700.0,4346800,1693900.0,11166100.0,88391400.0,...,109186400.0,9779600.0,2044500.0,2729300.0,6633400.0,7590700.0,8712600.0,4911400.0,6213800.0,5204100.0
2022-12-01,71250400.0,5040300.0,3365200.0,3222200.0,1449900.0,1649500.0,2846500,848600.0,6976200.0,59833400.0,...,80046200.0,5479900.0,875500.0,780700.0,1549100.0,4511400.0,3329400.0,2520300.0,4777700.0,7077700.0
2022-12-02,65421400.0,4128000.0,2741800.0,3055200.0,1807000.0,1323500.0,3492000,566800.0,3903300.0,64325200.0,...,73533400.0,3822900.0,848500.0,593400.0,1094800.0,4857300.0,2552900.0,2811700.0,3295000.0,9659100.0

In [83]:
print('Highest Volume values for last trading day')
df_vol.iloc[[-1]].max().sort_values(ascending=False)

Highest Volume values for last trading day

TSLA    73533400.0
AMZN    72427000.0
AAPL    65421400.0
AMD     64325200.0
META    39875100.0
           ...
IDXX      372700.0
ANSS      365700.0
ORLY      365600.0
CTAS      286000.0
BKNG      270400.0
Length: 102, dtype: float64

In [89]:
df_tmp = df_vol.iloc[[-1]].max().sort_values(ascending=False)
type(df_tmp)

pandas.core.series.Series

In [91]:
type(df_vol.mean())

pandas.core.series.Series

In [138]:
df_tm1 = df_vol.iloc[[-1]].max().sort_values(ascending=False)
df_tmp2 = df_vol[:-365].mean()
df_tmp = pd.concat([df_tm1,df_tmp2],axis=1)
df_tmp.rename(columns={0: "lastvolume", 1: "meanvolume"}, inplace=True)
df_tmp = df_tmp[['lastvolume','meanvolume']].round(1)/1000000
df_tmp['greater'] =  df_tmp['lastvolume'] > df_tmp['meanvolume']
df_tmp['pct'] = (df_tmp['lastvolume'] - df_tmp['meanvolume']) / df_tmp['meanvolume'] *100
df_tmp = df_tmp[df_tmp['greater'] == True]
df_tmp.sort_values(by=['pct'], ascending=False)

       lastvolume  meanvolume  greater         pct
ZS         9.6591    2.296071     True  320.679463
MRVL      25.0444    8.351373     True  199.883617
PYPL      24.2129    8.252584     True  193.397808
TEAM       3.6753    1.302105     True  182.258300
KDP        6.8063    2.703714     True  151.738858
SPLK       4.1151    1.931012     True  113.105885
ENPH       5.5369    2.618323     True  111.467441
PDD       15.6281    7.677513     True  103.556813
CRWD       8.8474    4.574420     True   93.410333
META      39.8751   21.738425     True   83.431417
MTCH       3.0845    2.069355     True   49.056107
COST       3.6297    2.493945     True   45.540493
NFLX      12.6835    9.255618     True   37.035687
DDOG       5.1451    3.765698     True   36.630705
WDAY       2.5529    1.887680     True   35.240090
LCID      27.4115   21.481698     True   27.603973
INTU       1.8760    1.478064     True   26.922820
AEP        3.4920    2.760928     True   26.479236
CMCSA     25.8090   20.820136     True   23.961729
INTC      31.5339   26.433190     True   19.296609
AMD       64.3252   57.265202     True   12.328601
ADI        3.0552    2.776239     True   10.048158
SNPS       1.0763    1.011265     True    6.431002
PCAR       2.0403    2.031195     True    0.448243

In [139]:
https://tradingstrategyguides.com/volume-trading-strategy/

SyntaxError: invalid syntax (415682724.py, line 1)

In [ ]:
https://tradingstrategyguides.com/wp-content/uploads/2018/07/Volume-Momentum.png

# Ticker download for some further infos

In [66]:
ticker = yf.Tickers('msft aapl goog')

In [73]:
type(ticker.tickers)

dict

In [75]:
ticker.tickers["MSFT"]

yfinance.Ticker object <MSFT>